@import "/node_modules/@wikimedia/codex-design-tokens/theme-wikimedia-ui.css";

/* Inter */
@font-face {
  font-family: "Inter";
  src: url("/font/Inter-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/font/Inter-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/font/Inter-Italic-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/font/Inter-Italic-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "NotoSansSundanese";
  src: url("/font/NotoSansSundanese-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NotoSansBalinese";
  src: url("/font/NotoSansBalinese-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NotoSansArabic";
  src: url("/font/NotoSansArabic-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: 100 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NotoSansHebrew";
  src: url("/font/NotoSansHebrew-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: 100 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NotoSansJP";
  src: url("/font/NotoSansJP-VariableFont_wght.woff2") format("woff2");
  font-weight: 100 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "NotoSansKR";
  src: url("/font/NotoSansKR-VariableFont_wght.woff2") format("woff2");
  font-weight: 100 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "NotoSansSC";
  src: url("/font/NotoSansSC-VariableFont_wght.woff2") format("woff2");
  font-weight: 100 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "NotoSansTC";
  src: url("/font/NotoSansTC-VariableFont_wght.woff2") format("woff2");
  font-weight: 100 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "NotoSansThai";
  src: url("/font/NotoSansThai-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: 100 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "InterBold";
  src: url("/font/Inter-Bold.ttf") format("truetype");
  font-weight: 100 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "InterBold";
  src: url("/font/Inter-BoldItalic.ttf") format("truetype");
  font-weight: 100 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "InterBold";
  src: url("/font/Inter-Black.ttf") format("truetype");
  font-weight: 700 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "InterBold";
  src: url("/font/Inter-BlackItalic.ttf") format("truetype");
  font-weight: 700 800;
  font-style: italic;
  font-display: swap;
}
/* **************************************************** */

/* AtkinsonHyperlegibleNext */
@font-face {
  font-family: "Atkinson";
  src: url("/font/AtkinsonHyperlegibleNext-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Atkinson";
  src: url("/font/AtkinsonHyperlegibleNext-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "AtkinsonBold";
  src: url("/font/AtkinsonHyperlegibleNext-Bold.ttf") format("truetype");
  font-weight: 100 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AtkinsonBold";
  src: url("/font/AtkinsonHyperlegibleNext-BoldItalic.ttf") format("truetype");
  font-weight: 100 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "AtkinsonBold";
  src: url("/font/AtkinsonHyperlegibleNext-ExtraBold.ttf") format("truetype");
  font-weight: 700 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AtkinsonBold";
  src: url("/font/AtkinsonHyperlegibleNext-ExtraBoldItalic.ttf")
    format("truetype");
  font-weight: 700 800;
  font-style: italic;
  font-display: swap;
}
/* **************************************************** */

:root {
  --font-family: "Inter", "NotoSansSundanese", "NotoSansBalinese", system-ui,
    Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: var(--background-color-base);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --vp-c-white: #ffffff;
  --vp-c-black: #000000;
  --vp-c-neutral: var(--vp-c-black);
  --vp-c-neutral-inverse: var(--vp-c-white);
}

a {
  font-weight: 400;
  text-decoration: underline;
  cursor: pointer;
}

html.dark {
  --color-base: #eaecf0;
  --color-base--hover: #f8f9fa;
  --color-emphasized: #f8f9fa;
  --color-subtle: #a2a9b1;
  --color-disabled: #54595d;
  --color-disabled-emphasized: #72777d;
  --color-inverted: #101418;
  --color-progressive: #88a3e8; /* 'Progressive' Color and states */
  --color-progressive--hover: #b0c1f0;
  --color-progressive--active: #cbd6f6;
  --color-destructive: #fd7865; /* 'Destructive' Color and states */
  --color-destructive--hover: #fea898;
  --color-destructive--active: #ffc8bd;
  --color-visited: #a799cd; /* 'Visited' color. In combination with progressive. Used for default links. */
  --color-visited--hover: #c5b9dd;
  --color-visited--active: #d9d0e9;
  --color-destructive--visited: #c99391; /* Red link 'Visited' color. Used for visited red links. */
  --color-destructive--visited--hover: #dcb5b3;
  --color-destructive--visited--active: #e8cecd;
  --color-error: #fd7865;
  --color-error--hover: #fea898;
  --color-error--active: #ffc8bd;
  --color-warning: #ca982e;
  --color-success: #2cb491;
  --color-notice: #a2a9b1;
  --color-content-added: #80cdb3;
  --color-content-removed: #fd7865;
  --color-base--subtle: #a2a9b1;
  --box-shadow-color-base: #72777d;
  --box-shadow-color-progressive--focus: #6485d1;
  --box-shadow-color-progressive-selected: #88a3e8;
  --box-shadow-color-progressive-selected--hover: #b0c1f0;
  --box-shadow-color-progressive-selected--active: #cbd6f6;
  --box-shadow-color-destructive--focus: #6485d1;
  --box-shadow-color-inverted: #000;
  --box-shadow-color-alpha-base: rgba(0, 0, 0, 0.87);
  --mix-blend-mode-blend: screen;
  --background-color-base: #101418; /* Background Colors for static elements (for page layout, sections, etc.) from here on. */
  --background-color-neutral: #27292d;
  --background-color-neutral-subtle: #202122;
  --background-color-interactive: #27292d;
  --background-color-interactive--hover: #404244;
  --background-color-interactive--active: #54595d;
  --background-color-interactive-subtle: #202122;
  --background-color-interactive-subtle--hover: #27292d;
  --background-color-interactive-subtle--active: #404244;
  --background-color-disabled: #404244; /* Components like Buttons, Checkboxes, Radios, ProgressBars…. */
  --background-color-disabled-subtle: #27292d; /* Components like TextInputs, Selects…. */
  --background-color-inverted: #f8f9fa;
  --background-color-progressive--focus: #6485d1;
  --background-color-progressive-subtle: #1b223d;
  --background-color-progressive-subtle--hover: #233566;
  --background-color-progressive-subtle--active: #3056a9;
  --background-color-destructive--focus: #6485d1;
  --background-color-destructive-subtle: #3c1a13;
  --background-color-destructive-subtle--hover: #612419;
  --background-color-destructive-subtle--active: #9f3526;
  --background-color-error-subtle: #3c1a13;
  --background-color-error-subtle--hover: #612419;
  --background-color-error-subtle--active: #9f3526;
  --background-color-warning-subtle: #2d2212;
  --background-color-success-subtle: #132821;
  --background-color-notice-subtle: #27292d;
  --background-color-content-added: #233566;
  --background-color-content-removed: #453217;
  --background-color-backdrop-light: rgba(
    0,
    0,
    0,
    0.65
  ); /* Backdrop is the term used by CSS Fullscreen API and is used to dim the background when a modal Dialog is open. Also known as overlay mask. */
  --background-color-backdrop-dark: rgba(255, 255, 255, 0.65);
  --border-color-base: #72777d;
  --border-color-subtle: #54595d;
  --border-color-muted: #404244;
  --border-color-interactive--hover: #a2a9b1;
  --border-color-interactive--active: #c8ccd1;
  --border-color-disabled: #54595d;
  --border-color-inverted: #101418;
  --border-color-progressive--hover: #88a3e8;
  --border-color-progressive--active: #b0c1f0;
  --border-color-progressive--focus: #6485d1;
  --border-color-destructive--hover: #fd7865;
  --border-color-destructive--active: #fea898;
  --border-color-destructive--focus: #6485d1;
  --border-color-error--hover: #fd7865;
  --border-color-error--active: #fea898;
  --border-color-content-added: #233566;
  --border-color-content-removed: #987027;
}

/* .cdx-radio__icon {
  background-color: var(--background-color-base, #fff) !important;
  border-color: var(--border-color-interactive, #72777d) !important;
} */

html,
body,
#app {
  height: 100%;
}

/* html,
html.dark {
  overflow: auto;
} */

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100%;
  font-weight: 400;
  font-family: var(--font-family);
  color: var(--color-base);

  /* font-style: oblique 10deg; */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 0.5rem;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 0.25rem auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  margin: 0 auto;
  /* padding: 2rem; */
  width: 100%;
  /* text-align: center; */
}

ol {
  list-style-type: decimal !important;
}

ul {
  list-style-type: initial !important;
  padding-left: 1rem !important;
  margin-left: 8px !important;
}

html {
  margin-right: unset !important;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

h1 {
  font-size: 28px !important;
}

.cdx-dialog__body {
  padding: 0 !important;
}

.cdx-toggle-button {
  border: 0 !important;
}

.detail .v-expansion-panel-title__icon {
  display: none;
}

.cdx-dialog__header__title {
  color: var(--color-base);
}

/* .cdx-select-vue--enabled .cdx-select-vue__handle {
  background-color: #202122 !important;
  color: #eaecf0 !important;
  border-color: #72777d !important;
}

.cdx-select-vue__indicator {
  color: #eaecf0 !important;
} */

.breakpoints {
  @apply pr-[var(--spacing-125)] pl-[var(--spacing-200)] rtl:pr-[var(--spacing-200)] rtl:pl-[var(--spacing-125)];
}

@media (max-width: 1023px) and (min-width: 640px) {
  .breakpoints {
    @apply pr-[var(--spacing-125)] pl-[var(--spacing-200)] rtl:pr-[var(--spacing-200)] rtl:pl-[var(--spacing-125)];
  }
}

@media (max-width: 639px) {
  .breakpoints {
    @apply pr-[var(--spacing-25)] pl-[var(--spacing-100)] rtl:pr-[var(--spacing-100)] rtl:pl-[var(--spacing-25)];
  }
}

.breakpoints-2 {
  @apply pr-[var(--spacing-200)] pl-[var(--spacing-125)] rtl:pr-[var(--spacing-125)] rtl:pl-[var(--spacing-200)];
}

@media (max-width: 1023px) and (min-width: 640px) {
  .breakpoints-2 {
    @apply pr-[var(--spacing-200)] pl-[var(--spacing-125)] rtl:pr-[var(--spacing-125)] rtl:pl-[var(--spacing-200)];
  }
}

@media (max-width: 639px) {
  .breakpoints-2 {
    @apply pr-[var(--spacing-100)] pl-[var(--spacing-25)] rtl:pr-[var(--spacing-25)] rtl:pl-[var(--spacing-100)];
  }
}

h5 {
  font-weight: 700 !important;
  font-size: var(--font-size-medium) !important;
  color: var(--color-base);
  font-style: normal;
}

h6 {
  font-weight: 700 !important;
  font-size: var(--font-size-small) !important;
  color: var(--color-base);
  font-style: normal;
}

.cdx-field_control {
  font-family: var(--font-family-system-sans);
}
